/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Main Menu */
.navbar {
    align-content: center;
    background-color: rgba(0, 0, 20);
}

.navbar-dark .navbar-toggler {
    color: rgba(218, 165, 32, 0.55);
    border-color: rgba(218, 165, 32, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(218, 165, 32, 0.55);
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(218, 165, 32, 1);
    font-weight: bold;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(218, 165, 32);
    font-weight: bold;
}

#navbar-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: width .3s;
}

#navbar-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* .carousel-item img {
    margin-top: -20%; 
    margin-bottom: -10%;
}

.reslogo {
    padding-bottom: 15%;
} */

.column {
    display: none; /* Hide all elements by default */
}

.show {
    display: block;
}

.button {
    background-color: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button:hover {
    text-decoration: solid;
    color: black;
    border-bottom: 3px solid goldenrod;
}

.button.active {
    text-decoration: solid;
    color: black;
    border-bottom: 3px solid goldenrod;
}


/* .food-filter .button {
    background-color: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.5);
}

.button:hover {
    text-decoration: solid;
    color: black;
    border-bottom: 3px solid goldenrod;
}

.button.active {
    text-decoration: solid;
    color: black;
    border-bottom: 3px solid goldenrod;
} */

.card img {
    width: 100%;
    height: 266px;
    object-fit: cover;
 }

.card-body span {
    color: goldenrod;
}

.card-body {
    vertical-align: middle;
}

/* Detail Menu */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);   
}

.back_menu {
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.back_menu:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    border-bottom: 2px solid goldenrod;
}

.gambar_menu img {
    transition: 0.3s;
    border-radius: 60px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.gambar_menu img:hover {
    transition: 0.3s;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}